<%= form_for(@list, :html => {class: ".form-inline"}) do |f|%>
<div class="row clearfix">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class='panel-heading'>
        <strong>Informations générales :</strong>
      </div>
      <div class='panel-body'>
        <table class="table table-striped table-bordered">
          <tr>
            <td> <%= f.label :nom %>
            <br>
            </td>
            <td> <%= f.text_field :name, class: 'form-control', placeholder: 'Nom de la liste'%> </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class='panel-heading'>
    <strong>Élément :</strong>
  </div>
  <div class="panel-body">
    <%= f.fields_for :listItems do |list_item| %>
    <% render 'listItem_fields', :f => list_item %>
    <% end %>
    <p class="text-center">
      <%= link_to_add_association '<span class="glyphicon glyphicon-plus"></span>'.html_safe, f, :listItems, class: "btn btn-success"%>
    </p>
  </div>
</div>
<p class="text-center">
  <%= link_to 'Retour', paperstocks_path, class: 'btn btn-default' %>
  <%= f.submit 'Valider', class: 'btn btn-danger'%>
</p>
<% end %>
