

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<div class="text-center">
  	<%= image_tag("logo-rubtik-c-2015-transparent.png")%>
  	<h2>(-: DJOBI-DJOBA :-)</h2>
  	</div>
	<div class="panel panel-default">
		<div class="panel-heading"><strong>Connexion</strong></div>
		<div class="panel-body">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :login %>
      <%= f.text_field :login, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

	  <%= f.label :remember_me, class: "checkbox inline" do %>
	  	<%= f.check_box :remember_me %>
  			<span>Remember me on this computer</span>
	  <% end %>
	  <p class="text-center">

      <%= f.submit "Log in", class: "btn btn-primary" %></p>
    <% end %>
    </div>
	</div>
  </div>
</div>