<div class="nested-fields">
	<table class="table table-striped table-bordered">
		<tr>
			<td> <%= f.label :prénom%> </td>
			<td> <%= f.text_field :first_name, class: "form-control", placeholder: 'Prénom du contact'%> </td>
		</tr>
		<tr>
			<td> <%= f.label :nom%> </td>
			<td> <%= f.text_field :last_name, class: "form-control", placeholder: 'Nom de famille du contact'%> </td>
		</tr>
		<tr>
			<td> <%= f.label :email%> </td>
			<td> <%= f.email_field :email, class: "form-control", placeholder: 'ex: nom@societe.com'%> </td>
		</tr>
		<tr>
			<td> <%= f.label :téléphone%> </td>
			<td> <%= f.text_field :phone_nbr, class: "form-control", placeholder: 'Téléphone portable ou fixe'%> </td>
		</tr>
	</table>
	<p class="text-left">
		<%= link_to_remove_association '<span class="glyphicon glyphicon-trash"></span>'.html_safe, f, class: "btn btn-danger" %>
	</p>
</div>
