  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for(event) do |f| %>
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class='panel-heading'>
            <strong>Informations générales:</strong>
          </div>
          <div class='panel-body'>
            <table class="table table-striped table-bordered">
              <tr>
                <td>
                  <%= f.label :titre %>
                </td>
                <td>
                  <%= f.text_field :title, class: 'form-control' %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label :détails %>
                </td>
                <td>
                  <%= f.text_area :details, class: 'form-control' %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label :début %>
                </td>
                <td>
                  <%= f.datetime_select :time_begin, class: 'form-control' %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label :fin %>
                </td>
                <td>
                  <%= f.datetime_select :time_end, class: 'form-control' %>
                </td>
              </tr>

              <% if @event.user_id? %>
                <%= f.hidden_field :user_id, :value => @event.user_id %>
              <% else %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
              <% end %>
            </table>
          </div>
        </div>
      </div>

  </div>
<p class="text-center">
  <%= link_to 'Retour', users_path,  {class: 'btn btn-default'}%>
  <%= f.submit 'Valider', class: 'btn btn-danger'%>
</p>
<% end %>
