<div class="clearfix">
  <div class="panel panel-default">
    <div class='panel-heading'>
      <strong>Informations Print :</strong>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-hover table-striped">
        <tr>
          <td>Livraison</td>
          <td><%= f.select(:carrier_id, options_from_collection_for_select(Carrier.all, :id, :name, @project.carrier_id), {:include_blank => 'Sélectionner un mode de livraison'}, class: 'form-control')%></td>
        </tr>
        <tr>
          <td>Numéro de suivi</td>
          <td><%= f.text_field :tracking_nbr, class: 'form-control'%></td>
        </tr>
        <tr>
          <td>Nombre de colis</td>
          <td><%= f.text_field :package_nbr, class: 'form-control'%></td>
        </tr>
        <tr>
          <td>Envoyer le mail de suivi</td>
          <% if !@project.tracking_email? %>
              <td><%= f.check_box :tracking_email, class: 'form-control'%></td>
          <% else %>
              <td>L'email de suivi à déjà été envoyé.</td>
          <% end %>
        </tr>
        <tr>
          <td>Adresse de livraison (si différente de la fiche client)</td>
          <td><%= f.text_area :delivery_address, class: 'form-control'%></td>
        </tr>
        <tr>
          <td>Notes (Imprimées sur le BDL)</td>
          <td><%= f.text_area :note, class: 'form-control'%></td>
        </tr>
        <td colspan="2">
          <% if !@project.new_record? %>
              <%= link_to "Voir le Bon de livraison", delivery_form_path(@project.id, :format => :pdf), class: "btn btn-success", :target => "_blank"%>
          <% end %>
        </td>

      </table>
    </div>
  </div>
</div>
