<div class="nested-fields">
	<table class="table table-striped table-bordered vmiddle">
		<tr>
			<td> <%= f.label :description%> </td>
			<td> <%= f.text_area :description, class: "form-control"%> </td>
			<td > <%= link_to_remove_association '<span class="glyphicon glyphicon-trash"></span>'.html_safe, f, class: "btn btn-danger" %> </td>
			<%= f.hidden_field :worker_id, :value => current_user.id%>
			<%= f.hidden_field :project_id, :value => @project.id%>
	</table>
</div>
