<div class="clearfix">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="btn btn-info" role="button" href="<%= projects_path%>" data-toggle="tooltip" data-placement="bottom" title="Rafraîchir la page"><span class="glyphicon glyphicon-refresh"></span></a>
			<a class="btn btn-primary" role="button" data-toggle="collapse" href="#filters" aria-expanded="false" aria-controls="filters">Afficher de filtres</a>
			<a class="btn btn-warning" role="button" href="<%= projects_path%>">Réinitialiser les filtres</a>
		</div>
		<div class="panel body collapse" id="filters">
			<fieldset>
				<%= form_tag(projects_path, :method => "get", id: "search-form") do %>
				<div class="col-md-2">
					<div class="form-group">
						<label for="name">Nom</label>
						<%= text_field_tag :name, params[:name], placeholder: "Nom du projet", class: 'form-control' %>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="number">Numéro</label>
						<%= text_field_tag :number, params[:number], placeholder: "Numéro du projet", class: 'form-control' %>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="user_id">Personne assignée</label>
						<select name="user_id" class="form-control">
							<option value>Sélectionner un utilisateur</option>
							<option value="all">Tous</option>
							<% @users = User.all%>
							<%= @users.each do |user| %>
							<option value="<%= user.id %>" <%= params[:user_id].to_i == user.id ? 'selected' : ''%>><%= user.login %></option>
							<% end %>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="client_id">Client</label>
						<select name="client_id" class="form-control">
							<option value>Sélectionner un client</option>
							<% @clients.each do |client| %>
							<option value="<%= client.id%>" <%= params[:client_id].to_i == client.id ? 'selected' : ''%>><%= client.name%></option>
							<% end %>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="project_type">Type de projet</label>
						<select name="project_type" class="form-control">
							<option value>Sélectionner un type de projet</option>
							<% Project.project_types.each do |project_type| %>
							<option value="<%= project_type[1]%>"
							<%= params[:project_type].present? ? (params[:project_type].to_i == project_type[1] ? 'selected' : '') : ''%>><%= t project_type[0]%></option>
							<% end %>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="progress">Progression</label>
						<select name="progress" class="form-control">
							<option value>Sélectionner une progression</option>
							<% Project.progressions.each do |progress| %>
							<option value="<%= progress[1]%>"
							<%= params[:progress].present? ? (params[:progress].to_i == progress[1] ? 'selected' : '') : ''%>><%= t progress[0]%></option>
							<% end %>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="number">Date de création</label>
						<%= date_field_tag :create_date, params[:create_date], placeholder: "Numéro du projet", class: 'form-control' %>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="state">Statut</label>
						<select name="state" class="form-control">
							<option value>Sélectionner un statut</option>
							<% Project.states.each do |state| %>
							<option value="<%= state[1]%>"
							<%= params[:state].present? ? (params[:state].to_i == state[1] ? 'selected' : '') : ''%>><%= t state[0]%></option>
							<% end %>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="priority">Priorité</label>
						<select name="priority" class="form-control">
							<option value>Sélectionner une priorité</option>
							<% Project.priorities.each do |priority| %>
							<option value="<%= priority[1]%>"
							<%= params[:priority].present? ? (params[:priority].to_i == priority[1] ? 'selected' : '') : ''%>><%= t priority[0]%></option>
							<% end %>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="archived">Projet archivé
							<%= check_box_tag :archived, true, params[:archived], placeholder: 'Archivé', class: "form-control"%> </label>
					</div>
				</div>
				<%= submit_tag "Search", class: 'btn btn-success search-button' %>
				<% end %>
			</fieldset>
		</div>
	</div>
</div>
