<div class="clearfix">
	<div class="panel panel-default">
		<div class='panel-heading'>
			<strong>Informations Print :</strong>
		</div>
		<div class="panel-body">
			<table class="table table-bordered table-hover table-striped">
				<tr>
					<td>Bon à tirer</td>
					<td colspan=3><%= f.select(:test_print, options_for_select(t("test_print").invert, @project.test_print), {:include_blank => 'Sélectionner un statut de bon à tirer'}, class: 'form-control')%></td>
				</tr>
				<tr>
					<td>Couleur</td>
					<td colspan=3> <%= f.select(:colors, options_for_select(t("project_colors").invert, @project.colors), {:include_blank => 'Selectionner un type de couleur'}, class: 'form-control')%> </td>
				</tr>
				<tr>
					<td>Orientation</td>
					<td colspan=3> <%= f.select(:orientation, options_for_select(t("orientation").invert, @project.orientation), {:include_blank => 'Selectionner un type d\'orientation'}, class: 'form-control')%> </td>
				</tr>
				<tr>
					<td>Données variables</td>
					<td colspan=3><%= f.check_box :various_input%></td>
				</tr>
				<tr>
					<td>Quantité bonnes feuilles</td>
					<td colspan=3><%= f.text_field :good_sheets_qty, class: "form-control"%></td>
				</tr>
				<tr>
					<td>Quantité documents finis</td>
					<td colspan=3><%= f.text_field :finished_doc_qty, class: "form-control"%></td>
				</tr>
				<tr>
					<td>Laisser brut de tirage</td>
					<td colspan=3><%= f.check_box :let_raw %></td>
				</tr>
				<tr>
					<td>Format ouvert</td>
					<td colspan=3><%= f.select(:open_shape, options_for_select(t("open_shapes").invert, @project.open_shape), {:include_blank => 'Sélectionner un type de format ouvert'}, class: 'form-control')%></td>
				</tr>
				<tr>
					<td>Format Fini</td>
					<td colspan=3><%= f.select(:finished_shape, options_for_select(t("finished_shapes").invert, @project.finished_shape), {:include_blank => 'Sélectionner un type de format de produit fini'}, class: 'form-control')%></td>
				</tr>
				<tr>
					<td>Format spécial</td>
					<td colspan=3><%= f.text_field :special_shape, class: "form-control"%></td>
				</tr>
				<tr>
					<td>Pelliculage ou plastification</td>
					<td colspan=3><%= f.collection_select(:filming_id, @filmings, :id, :name, {:include_blank => 'Sélectionner un pelliculage ou plastification'}, class: 'form-control')%></td>
				</tr>
				<tr>
					<td>Façonnage</td>
					<td><%= f.collection_select(:shaping_one, @shapings, :id, :name, {:include_blank => 'Sélectionner un façonnage'}, class: 'form-control')%></td>
					<td><%= f.collection_select(:shaping_two, @shapings, :id, :name, {:include_blank => 'Sélectionner un façonnage'}, class: 'form-control')%></td>
					<td><%= f.collection_select(:shaping_three, @shapings, :id, :name, {:include_blank => 'Sélectionner un façonnage'}, class: 'form-control')%></td>
				</tr>
				<tr>
					<td>Façonnage divers</td>
					<td colspan=3><%= f.text_field :diverse_shape, class: "form-control"%></td>
				</tr>
				<tr>
					<td>Paquetage</td>
					<td colspan=3><%= f.select(:package, options_for_select(t("packages").invert, @project.package), {:include_blank => 'Sélectionner un paquetage'}, class: 'form-control')%></td>
				</tr>
				<tr>
					<td>Remarques (Interne à Rubrik-C)</td>
					<td colspan=3><%= f.text_area :notice, class: 'form-control'%></td>
				</tr>
				<tr>
					<td>Sous-traitance</td>
					<td colspan=3><%= f.text_area :outsourcing, class: 'form-control'%></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<strong>Papier(s)</strong>
		</div>
		<div class="panel-body">
			<%= f.fields_for :papers do |pa| %>
			<% render 'projects/forms/paper_fields', :f => pa %>
			<% end %>
			<p class="text-left">
				<%= link_to_add_association '<span class="glyphicon glyphicon-plus"></span>'.html_safe, f, :papers, class: "btn btn-success", :partial => '/projects/forms/paper_fields' %>
			</p>
		</div>
	</div>
</div>
