	<div class="clearfix">
		<div class="panel panel-default">
			<div class='panel-heading'>
				<strong>Informations Print :</strong>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-hover table-striped">
					<tr>
						<td>Bon à tirer</td>
						<td colspan=3><%= t @project.test_print%></td>
					</tr>
					<tr>
						<td>Couleur</td>
						<td colspan=3><%= t @project.colors %></td>
					</tr>
					<tr>
						<td>Orientation</td>
						<td colspan=3><%= t @project.orientation %></td>
					</tr>
					<tr>
						<td>Données variables</td>
						<td colspan=3><%= @project.various_input? ? 'oui' : 'non'%></td>
					</tr>
					<tr>
						<td>Quantité bonnes feuilles</td>
						<td colspan=3><%= @project.good_sheets_qty%></td>
					</tr>
					<tr>
						<td>Quantité documents finis</td>
						<td colspan=3><%= @project.finished_doc_qty%></td>
					</tr>
					<tr>
						<td>Laisser brut de tirage</td>
						<td colspan=3><%= @project.let_raw? ? 'oui' : 'non'%></td>
					</tr>
					<tr>
						<td>Format ouvert (mm)</td>
						<td colspan=3><%= t @project.open_shape %></td>
					</tr>
					<tr>
						<td>Format Fini</td>
						<td colspan=3><%= t @project.finished_shape %></td>
					</tr>
					<tr>
						<td>Pelliculage ou plastification</td>
						<td colspan=3><%= @project.filming_id.nil? ? '' : ListItem.find(@project.filming_id).name %></td>
					</tr>
					<tr>
						<td>Façonnage</td>
			            <td><%=  @project.shaping_one.nil? ? '' : ListItem.find(@project.shaping_one).name %></td>
			            <td><%=  @project.shaping_two.nil? ? '' : ListItem.find(@project.shaping_two).name %></td>
			            <td><%=  @project.shaping_three.nil? ? '' : ListItem.find(@project.shaping_three).name %></td>
					</tr>
					<tr>
						<td>Paqutage</td>
						<td colspan=3><%= t @project.package%></td>
					</tr>
					<tr>
						<td>Livraison</td>
						<td colspan=3><%= @project.carrier.nil? ? '' : @project.carrier.name%></td>
					</tr>
					<% if !@project.tracking_nbr.empty?%>
					<tr>
						<td>Numéro de suivi</td>
						<td colspan=3><%= t @project.tracking_nbr%></td>
					</tr>
					<% end%>
					<tr>
						<td>Nombre de colis</td>
						<td colspan=3><%= t @project.package_nbr.nil? ? 0 : @project.package_nbr%></td>
					</tr>
					<tr>
						<td>Adresse de livraison (si différente de fiche client)</td>
						<td colspan=3><%= @project.delivery_address.nil? ? '' : @project.delivery_address%></td>
					</tr>
					<tr>
						<td>Remarques</td>
						<td colspan=3><%= @project.notice%></td>
					</tr>
					<tr>
						<td>Sous traitance</td>
						<td colspan=3><%= @project.outsourcing%></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<strong>Papier(s)</strong>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-hover table-bordered">
					<thead>
						<th>Type</th>
						<th>Grammage</th>
						<th>Format</th>
					</thead>
					<tbody>
						<% @project.papers.each do |paper| %>
						<tr>
							<td><%= t paper.paper %></td>
							<td><%= t paper.density%></td>
							<td><%= t paper.shape%></td>
						</tr>
						<% end %>
					</tbody>
				</table>
		</div>
	</div>
</div>
