<div role="tabpanel" class="tab-pane <%= current_user.print? ? 'active' : ''%>" id="print">
	<div class="clearfix">
		<div class="panel panel-default">
			<div class='panel-heading'>
				<strong>Informations Print:</strong>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-hover table-striped">
					<tr>
						<td>Bon à tirer</td>
						<td><%= @project.test_print? ? 'oui' : 'non'%></td>
					</tr>
					<tr>
						<td>Couleur</td>
						<td><%= t @project.colors %></td>
					</tr>
					<tr>
						<td>Données variables</td>
						<td><%= @project.various_input? ? 'oui' : 'non'%></td>
					</tr>
					<tr>
						<td>Quantité bonnes feuilles</td>
						<td><%= @project.good_sheets_qty%></td>
					</tr>
					<tr>
						<td>Quantité documents finis</td>
						<td><%= @project.finished_doc_qty%></td>
					</tr>
					<tr>
						<td>Laisser brut de tirage</td>
						<td><%= @project.let_raw? ? 'oui' : 'non'%></td>
					</tr>
					<tr>
						<td>Format ouvert (mm)</td>
						<td><%= t @project.open_shape %></td>
					</tr>
					<tr>
						<td>Format Fini</td>
						<td><%= t @project.finished_shape %></td>
					</tr>
					<tr>
						<td>Pelliculage ou plastification</td>
						<td><%= t @project.filming %></td>
					</tr>
					<tr>
						<td>Façonnage</td>
						<td><%= t @project.shaping%></td>
					</tr>
					<tr>
						<td>Paqutage</td>
						<td><%= t @project.package%></td>
					</tr>
					<tr>
						<td>Livraison</td>
						<td><%= t @project.delivery%></td>
					</tr>
					<tr>
						<td>Remarques</td>
						<td><%= @project.notice%></td>
					</tr>
					<tr>
						<td>Sous traitance</td>
						<td><%= @project.outsourcing%></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<strong>Papier(s)</strong>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-hover table-bordered">
					<thead>
						<th>Type</th>
						<th>Grammage</th>
						<th>Format</th>
					</thead>
					<tbody>
						<% @project.papers.each do |paper| %>
						<tr>
							<td><%= paper.paper %></td>
							<td><%= paper.density%></td>
							<td><%= paper.shape%></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
