<div class="clearfix">
		<div class="panel panel-info">
			<div class='panel-heading'>
				<strong>travaux effectués :</strong>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<th>date</th>
						<th>intervenant</th>
						<th>description</th>
						<th>durée</th>
					</thead>
					<tbody>
						<% @project.tasks.each do |task|%>
						<tr>
							<td><%= task.created_at.strftime('%d-%b-%y') %></td>
							<td><%= image_tag(task.worker.avatar(:thumb), {title:  task.worker.login})%></td>
							<td><%= task.description %></td>
							<td><%= task.hours %> heure<%= task.hours > 1? 's' : ''%> <%= task.minutes%> minute<%= task.minutes > 1? 's' : ''%></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="panel-heading">
				<strong>retours clients :</strong>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<th>date</th>
						<th>intervenant</th>
					</thead>
					<tbody>
						<% @project.feedbacks.each do |feedback|%>
						<tr>
							<td><%= feedback.created_at.strftime('%d-%b-%y à %h:%m:%s') %></td>
							<td><%= image_tag(feedback.worker.avatar(:thumb), {title:  feedback.worker.login})%></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
