<div role="tabpanel" class="tab-pane <%= current_user.print? ? '' : 'active'%>" id="studio">
	<div class="clearfix">
		<div class="panel panel-info">
			<div class='panel-heading'>
				<strong>Travaux effectués:</strong>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<th>Date</th>
						<th>Intervenant</th>
						<th>Description</th>
						<th>Durée</th>
					</thead>
					<tbody>
						<% @project.tasks.each do |task|%>
						<tr>
							<td><%= task.created_at.strftime('%d-%b-%Y') %></td>
							<td><%= image_tag(task.worker.avatar(:thumb), {title:  task.worker.login})%></td>
							<td><%= task.description %></td>
							<td><%= task.hours %> heure<%= task.hours > 1? 's' : ''%> <%= task.minutes%> minute<%= task.minutes > 1? 's' : ''%></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="panel-heading">
				<strong>Retours clients:</strong>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<th>Date</th>
						<th>Intervenant</th>
						<th>Description</th>
					</thead>
					<tbody>
						<% @project.feedbacks.each do |feedback|%>
						<tr>
							<td><%= feedback.created_at.strftime('%d-%b-%Y à %H:%M:%S') %></td>
							<td><%= image_tag(feedback.worker.avatar(:thumb), {title:  feedback.worker.login})%></td>
							<td><%= feedback.description %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
