<tr>
	<td><%= project.number%></td>

	<td><%= !project.participants.first.nil? ? project.participants.first.contact.client.name : '' %></td>
	<td><%= link_to project.name, edit_project_path(project) %><% if (!project.important.blank?)%> <span class="glyphicon glyphicon-exclamation-sign" title="<%= project.important%>"></span><% end %></td>

	<td><%= t project.project_type %></td>

	<td> <% if (project.priority == 'normal')%> <span class="label label-success"> <% else %> <span class="label label-warning"> <% end %>
			<%= project.priority %></span> </td>

	<td>
	<p class="text-center">
		Date de départ:
		<% if (!project.departure_date.nil?)%>
		<% if ((project.departure_date > Date.today) && ((project.departure_date) <= (Date.today + 7.days))) %>
		<span class="label label-warning"> <% elsif (project.departure_date <= Date.today)%> <span class="label label-danger"> <% elsif (project.departure_date > Date.today + 7.days) %> <span class="label label-success"> <% end %>
					<%= l project.departure_date %></span> <% else %> <span class="label label-default">Sans objet</span> <% end %>
	</p>
	<p class="text-center">
		Livraison:
		<% if (!project.delivery_date.nil?)%>
		<% if ((project.delivery_date > Date.today) && ((project.delivery_date) <= (Date.today + 7.days))) %>
		<span class="label label-warning"> <% elsif (project.delivery_date <= Date.today)%> <span class="label label-danger"> <% elsif (project.delivery_date > Date.today + 7.days) %> <span class="label label-success"> <% end %>
					<%= l project.delivery_date%></span>
	</td>
	<% else %>
	<span class="label label-default">Sans objet</span>
	<% end %>
	</p>
	<td><%= t project.state %> / <%= t project.progression %></td>
	<td><%= project.test_print == 'yestest' ? 'Oui' : 'Non' %></td>
	<td><%= project.notice%></td>
	<td><%= project.outsourcing%></td>
</tr>
