<tr>
	<td><%= project.number%></td>
	<td><%= project.contact.client.name %></td>
	<td><%= link_to project.name, project_path(project) %><% if (!project.important.blank?)%><%= image_tag('important_16', {title: project.important})%> <% end%></td>
	<td><%= t project.project_type %></td>
	<td>
		<% if (project.priority == 'normal')%>
			<span class="label label-success">
		<% else %>
			<span class="label label-warning">
		<% end %>
		<%= project.priority %></span>
	</td>
	<td><%= image_tag project.worker.avatar(:thumb), {title:  project.worker.login}%></td>
	<td>A IMPLEMENTER</td>
	<td>
	<% if ((project.first_feedback > Date.today) && ((project.first_feedback) <= (Date.today + 7.days))) %>
		<span class="label label-warning">
	<% elsif (project.first_feedback < Date.today)%>
		<span class="label label-danger">
	<% elsif (project.first_feedback > Date.today + 7.days) %>
		<span class="label label-success">
	<% end %>
	<%= l project.first_feedback%></span></td>
	<td>
	<% if ((project.validation_date > Date.today) && ((project.validation_date) <= (Date.today + 7.days))) %>
		<span class="label label-warning">
	<% elsif (project.validation_date < Date.today)%>
		<span class="label label-danger">
	<% elsif (project.validation_date > Date.today + 7.days) %>
		<span class="label label-success">
	<% end %>
	<%= l project.validation_date%></span></td>
	<td>
	<% if (!project.good_to_print.nil?)%>
		<% if ((project.good_to_print > Date.today) && ((project.good_to_print) <= (Date.today + 7.days))) %>
			<span class="label label-warning">
		<% elsif (project.good_to_print < Date.today)%>
			<span class="label label-danger">
		<% elsif (project.good_to_print > Date.today + 7.days) %>
			<span class="label label-success">
		<% end %>
			<%= l project.good_to_print %></span>
	<% else %>
		<span class="label label-default">Sans objet</span>
	<% end %>
	</td>
	<td><%= project.feedback_number%></td>
	<td><%= t project.state %></td>
</tr>
