<script>
	$(function() {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>
<p>
	<%= link_to 'Nouveau Projet', new_project_path, class: 'btn btn-default'%>
</p>
<%= render 'projects/forms/filters'%>
<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Liste des Projets</strong>
	</div>
	<div class="panel-body">
		<table class="table table-bordered text-center table-hover table-striped">
			<thead>
				<% if (!current_user.print?)%>
				<tr>
					<th><%= sortable "number", "#" %></th>
					<th><%= sortable "created_at", "Créé le" %></th>
					<th>Client</th>
					<th><%= sortable "name", "Nom du projet" %></th>
          <% if current_user.manager?%><th>Clone</th><% else%> <% end %>
					<th><%= sortable "project_type", "Type de projet" %></th>
					<th><%= sortable "priority", "Priorité" %></th>
					<th><%= sortable "worker", "Assigné à"%></th>
					<th>Temps réel / estimé</th>
					<th><%= sortable "first_feedback", "Dates" %></th>
					<th>Retours</th>
					<th><%= sortable "status", "Statut"%></th>
				</tr>
				<% else%>
				<tr>
					<th><%= sortable "number", "#" %></th>
					<th>Client</th>
					<th><%= sortable "name", "Nom du projet" %></th>
					<th><%= sortable "project_type", "Type de projet" %></th>
					<th><%= sortable "priority", "Priorité" %></th>
					<th><%= sortable "first_feedback", "Dates" %></th>
					<th>Statut</th>
					<th>BAT</th>
					<th>Remarques</th>
					<th>Sous-traitance</th>
				</tr>
				<% end %>
			</thead>
			<tbody>
				<% @projects.each do |project| %>
				<% if (!current_user.print?)%>
				<%= render project%>
				<% else%>
				<%= render 'project_print', :project => project %>
				<% end %>
				<% end %>
			</tbody>
		</table>
		<div class="text-center">
			<%= will_paginate %>
		</div>
	</div>
</div>
