<script>
	$(function() {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>
<p>
	<%= link_to 'Nouveau Projet', new_project_path, class: 'btn btn-default'%>
</p>
<div class="panel panel-default">
	<div class="panel body">Filtres :	
		<%= form_tag(projects_path, :method => "get", id: "search-form", class: 'form-inline') do %>
		<div class="form-group">
			<label for="name">Nom</label>
			<%= text_field_tag :search, params[:search], placeholder: "Nom du projet", class: 'form-control' %>
		</div>
		<div class="form-group">
			<label for="number">Numéro</label>
			<%= text_field_tag :number, params[:number], placeholder: "Numéro du projet", class: 'form-control' %>
		</div>
		<div class="form-group">
			<label for="user_id">Personne assignée</label>
			<select name="user_id" class="form-control">
				<option value>Sélectionner un utilisateur</option>
				<% @users = User.all%>
				<%= @users.each do |user| %>
				<option value="<%= user.id %>"><%= user.login %></option>
				<% end %>
			</select>
		</div>
		<div class="form-group">
			<label for="archived">Projet archivé</label>
			<%= check_box_tag :archived, true, params[:archived], placeholder: 'Archivé', class: 'form-control'%>
		</div>
		<div class="form-group">
			<select name="client_id" class="form-control">
				<option value>Sélectionner un client</option>
				<% @clients.each do |client| %>
					<option value="<%= client.id%>"><%= client.name%></option>
					<% end %>
				</select>
		</div>
		<div class="form-group">
		<%= submit_tag "Search", class: 'btn btn-success' %>
		</div>
		<% end %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Liste des Projets</strong>
	</div>
	<div class="panel-body">
		<table class="table table-bordered text-center table-hover table-striped">
			<thead>
				<% if (!current_user.print?)%>
				<tr>
					<th>#</th>
					<th>Client</th>
					<th>Nom du projet</th>
					<th>Type de projet</th>
					<th>Priorité</th>
					<th>Asssigné à</th>
					<th>Temps réel / estimé</th>
					<th>Dates</th>
					<th>Retours</th>
					<th>Statut</th>
				</tr>
				<% else%>
				<tr>
					<th>#</th>
					<th>Client</th>
					<th>Nom du projet</th>
					<th>Type de projet</th>
					<th>Priorité</th>
					<th>Dates</th>
					<th>Statut</th>
					<th>BAT</th>
					<th>Remarques</th>
					<th>Sous-traitance</th>
				</tr>
				<% end %>
			</thead>
			<tbody>
				<% @projects.each do |project| %>
				<% if (!current_user.print?)%>
				<%= render project%>
				<% else%>
				<%= render 'project_print', :project => project %>
				<% end %>
				<% end %>
			</tbody>
		</table>
		<div class="text-center">
			<%= will_paginate %>
		</div>
	</div>
</div>
