<h3><%= @project.name %></h3>
<div class="row clearfix">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class='panel-heading'>
				<strong>Informations générales:</strong>
			</div>
			<div class='panel-body'>
				<table class="table table-striped table-bordered">
					<tr>
						<td>Numéro:</td>
						<td><%= @project.number %></td>
					</tr>
					<tr>
						<td>Créé par:</td>
						<td><%= @project.owner.login %></td>
					</tr>
					<tr>
						<td>Assigné à:</td>
						<td><%= @project.worker.login %></td>
					</tr>
					<tr>
						<td>Type de projet:</td>
						<td><%= t @project.project_type %></td>
					</tr>
					<tr>
						<td>Description:</td>
						<td><%= @project.description %></td>
					</tr>
					<tr>
						<td>Archivé:</td>
						<td><%= @project.archived? ? 'oui' : 'non'%></td>
					</tr>
					<tr>
						<td>État:</td>
						<td><%= t @project.state%></td>
					</tr>
					<tr>
						<td>Avancement:</td>
						<td><%= t @project.progression%></td>
					</tr>
					<tr>
						<td>Important:</td>
						<td><%= @project.important%></td>
					</tr>
				</table>
			</div>
			<div class="panel-heading">
				<strong>Client:</strong>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered">
					<% @project.participants.each do |participant| %>
					<tr>
						<td>Société:</td>
						<td><%= participant.contact.client.name %></td>
					</tr>
					<tr>
						<td>Contact:</td>
						<td>
						<p>
							<span class="glyphicon glyphicon-user"> <%= participant.contact.first_name %> <%= participant.contact.last_name %></span>
						</p>
						<p>
							<span class="glyphicon glyphicon-send"> <%= mail_to participant.contact.email %></span>
						</p>
						<p>
							<span class="glyphicon glyphicon-phone-alt"> <%= participant.contact.phone_nbr %></span>
						</p></td>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<strong>Dates clés:</strong>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered">
					<tr>
						<td>Date de premier retour:</td>
						<td> <% if ((@project.first_feedback > Date.today) && ((@project.first_feedback) <= (Date.today + 7.days))) %> <span class="label label-warning"> <% elsif (@project.first_feedback < Date.today)%> <span class="label label-danger"> <% elsif (@project.first_feedback > Date.today + 7.days) %> <span class="label label-success"> <% end %>
									<%= l @project.first_feedback%></span></td>
					</tr>
					<% if (!@project.good_to_print.nil?) %>
					<tr>
						<td>Bon à tirer:</td>
						<td> <% if ((@project.good_to_print > Date.today) && ((@project.good_to_print) <= (Date.today + 7.days))) %> <span class="label label-warning"> <% elsif (@project.good_to_print <= Date.today)%> <span class="label label-danger"> <% elsif (@project.good_to_print > Date.today + 7.days) %> <span class="label label-success"> <% end %>
									<%= l @project.good_to_print %></span> </td>
					</tr>
					<% end%>
					<% if (!@project.departure_date.nil?) %>
					<tr>
						<td>Date de Départ</td>
						<td> <% if ((@project.departure_date > Date.today) && ((@project.departure_date) <= (Date.today + 7.days))) %> <span class="label label-warning"> <% elsif (@project.departure_date < Date.today)%> <span class="label label-danger"> <% elsif (@project.departure_date > Date.today + 7.days) %> <span class="label label-success"> <% end %>
									<%= l @project.departure_date%></span></td>
					</tr>
					<% end %>
					<% if (!@project.delivery_date.nil?) %>
					<tr>
						<td>Date de Livraison:</td>
						<td> <% if ((@project.delivery_date > Date.today) && ((@project.delivery_date) <= (Date.today + 7.days))) %> <span class="label label-warning"> <% elsif (@project.delivery_date <= Date.today)%> <span class="label label-danger"> <% elsif (@project.delivery_date > Date.today + 7.days) %> <span class="label label-success"> <% end %>
									<%= l @project.delivery_date%></span></td>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				Données chiffrées:
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<tr>
						<td>Temps estimé:<%= @project.hours %> heure<%= @project.hours > 1? 's' : ''%> <%= @project.minutes%> minute<%= @project.minutes > 1? 's' : ''%></td>
						<td>
						<div class="progress">
							<% pct_time = (@spent_time * 100) / @project.estimated_time %>
							<div class="progress-bar progress-bar-<%= (pct_time >= 80 ? (pct_time > 100 ? 'danger' : 'warning'): 'success')%> progress-bar-striped active"
							role="progressbar"
							aria-valuenow="<%= pct_time %>"
							aria-valuemin="0"
							aria-valuemax="100"
							style="width: <%= pct_time %>%;">
								<%= pct_time %>% du temps consommé
							</div>
						</div></td>
					</tr>
					<tr>
						<td>Retours prévus: <%= @project.feedback_number%> retours</td>
						<td>
						<div class="progress">
							<% pct_feedback = (@project.feedbacks.count * 100) / @project.feedback_number %>
							<div class="progress-bar progress-bar-<%= (pct_feedback >= 80 ) ? 'warning' : 'success'%> progress-bar-striped active"
							role="progressbar"
							aria-valuenow="<%= pct_feedback %>"
							aria-valuemin="0"
							aria-valuemax="100"
							style="width: <%= pct_feedback %>%;">
								<%= @project.feedbacks.count %> effectué
							</div>
						</div></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="<%= current_user.print? ? '' : 'active'%>">
			<a href="#studio" aria-controls="studio" role="tab" data-toggle="tab">Studio</a>
		</li>
		<% if @project.project_type == 'print' || @project.project_type == 'creaprint' || @project.project_type == 'printother'%>
		<li role="presentation" class="<%= current_user.print? ? 'active' : ''%>">
			<a href="#print" aria-controls="print" role="tab" data-toggle="tab">Print</a>
		</li>
		<% end %>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<%= render 'projects/detailed/studio' %>
		<% if @project.project_type == 'print' || @project.project_type == 'creaprint' || @project.project_type == 'printother'%>
		<%= render 'projects/detailed/print' %>
		<% end %>
	</div>

</div>
<p class="text-center">
	<%= link_to 'Retour', projects_path,  {class: 'btn btn-default'}%>
	<%= link_to 'Éditer', edit_project_path(@project), {class: 'btn btn-danger'}%>
</p>
