<div class="clearfix">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="btn btn-info" role="button" href="<%= clients_path%>" data-toggle="tooltip" data-placement="bottom" title="Rafraîchir la page"><span class="glyphicon glyphicon-refresh"></span></a>
			<a class="btn btn-primary" role="button" data-toggle="collapse" href="#filters" aria-expanded="false" aria-controls="filters">Afficher de filtres</a>
			<a class="btn btn-warning" role="button" href="<%= clients_path%>">Réinitialiser les filtres</a>
		</div>
		<div class="panel body collapse" id="filters">
			<fieldset>
				<%= form_tag(clients_path, :method => "get", id: "search-form") do %>
				<div class="col-md-2">
					<div class="form-group">
						<label for="name">Nom</label>
						<%= text_field_tag :name, params[:name], placeholder: "Nom du client", class: 'form-control' %>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="email">Email contact</label>
						<%= text_field_tag :email, params[:email], placeholder: "Email du contact", class: 'form-control' %>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="archived">Clients désactivés
							<%= check_box_tag :disabled, true, params[:disabled], placeholder: 'Désactivé', class: "form-control"%></label>
					</div>
				</div>
				<%= submit_tag "Search", class: 'btn btn-success search-button' %>
				<% end %>
			</fieldset>
		</div>
	</div>
</div>
