<h1>Maître du temps</h1>
<div class="clearfix">
  <div class="panel panel-success">
    <div class="panel-heading">Date
    </div>
    <div class="panel body" id="filters">
      <fieldset>
        <%= form_tag(activities_path, :method => "get", id: "search-form") do %>
            <div class="col-md-2">
              <div class="form-group">
                <label for="week_date">Date</label>
                <%= date_field_tag :week_date, params[:week_date], placeholder: "Date recherchée", class: 'form-control', id: 'date_picker' %>
              </div>
            </div>
        <% end %>
      </fieldset>
    </div>
  </div>
</div>
  <% @days_from_this_week.each do |day| %>
    <% level = day.today? ? 'success' : day.strftime("%Y-%m-%d") === params[:week_date] ? 'info'  : 'default' %>
  <div class="panel panel-<%= level %>">
      <div class="panel-heading">
       <%= day.strftime("%d-%m-%Y") %>
      </div>
<% @act.each do |date, name| %>
  <% if date == day.strftime("%d-%m-%Y") %>
  <table class="table table-bordered text-center table-hover table-striped">
  <% name.each do |user, duration| %>
    <tr>
      <td rowspan="<%= duration['details'].count%>"><%= user.login %><br /><%= image_tag user.avatar(:thumb), title: user.login, data: {toggle: "tooltip", placement:"bottom"}%></td>
      <td rowspan="<%= duration['details'].count%>"><%= duration['total'] / 60%>H<%= (duration['total'] % 60) < 10 ? '0' : '' %><%= duration['total'] % 60%></td>

      <% duration['details'].each do |project, time| %>
      <td><%= link_to project.number + " - " + project.name, edit_project_path(project) %></td>
      <td><%= time / 60 %>H<%= (time % 60) < 10 ? '0' : ''%><%= (time % 60) %></td>
          </tr><tr>
      <% end %>
  <% end %>
  </table>
  <% end %>
<% end %>
</div>
<% end %>
</div>
</div>

<script>
  $("#date_picker").bind("change", function(event){
    $("#search-form").submit();
  });
</script>