<!DOCTYPE html>
<html>
<head>
  <title>dJOBi-dJOBa</title>
 
  <%= stylesheet_link_tag 'application'%>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= csrf_meta_tags %>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
 <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.print.css " rel="stylesheet" type="text/css" media="print" />
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print">
<script language="javascript">
  var $j = jQuery.noConflict();
</script></head><body>
	<%= render 'layouts/header' %>
    <div class="container container-full">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type == 'notice' ? 'info' : message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
</body>
</html>
